@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000;
  --foreground: #fafafa;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fafafa;
    --foreground: #000;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
